*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignore all build outputs and APK files
*.apk
*.aab
*.dm

# Ignore Android Studio IDE specific settings
.idea/
.idea/deploymentTargetSelector.xml
